button {
  font-family: 'Monoton';
  font-style: italic;
  padding: 7px;
  background: #111580;
  border-radius: 7px;
  color: #98c5da;
  margin-bottom: 20px;
}

.movie-card {
  border-radius: 10px;
  width: 23%;
  box-shadow: 3px 3px 3px black;
  margin-bottom: 30px;
  overflow: hidden;
  background-color: aliceblue;
  padding-top: 20px;
}

.mydiv {
  height: 30px;
  width: 100px;
}