button {
  font-family: 'Monoton';
  font-style: italic;
  padding: 7px;
  color: cadetblue;
  border-radius: 7px;
}

.movie-card {
  border-radius: 10px;
  border: 4px solid darkcyan;
  width: 24%;
  height: 300px;
  overflow: hidden;
  background-color: aliceblue;
}

.mydiv {
  height: 30px;
  width: 100px;
}