button {
  font-family: 'Monoton';
  font-style: italic;
  padding: 7px;
  background: #111580;
  border-radius: 7px;
  margin-bottom: 20px;
}

.movie-card {
  
  border-radius: 10px;
  width: 23%;
  box-shadow: 3px 3px 3px black;
  margin-bottom: 30px;
  overflow: hidden;
  background-color: aliceblue;
  padding: 20px 10px 10px 10px;
}

span {
  font-style: italic;
  color: blue;
}

.mydiv {
  height: 30px;
  width: 100px;
}

.overview {
  margin: 15px auto;
}

@media screen and (max-width: 950px) { 
  .movie-card {
    width: 30%;
  }
 }

 @media screen and (max-width: 600px) { 
  .movie-card {
    width: 40%;
  }
 }

 @media screen and (max-width: 400px) { 
  .movie-card {
    width: 85%;
  }
 }