.form-holder {
  position: relative;
  margin: 50px auto;
  height: 50vh;
  width: 50vw;
  border: 2px solid gray;
  padding: 20px;
  background-color: #eef7ff;
}

.close-form-holder {
  position: absolute;
  top: 6px;
  right: 15px;
  font-size: 45px;
  color: #090C7B;
}

.close-form-holder:hover {
  cursor: pointer;
}